<div class="register-container">
  <form>
    <h2>Sub-Section Details</h2>
    <div>
      <label for="id">ID:</label>
      <input id="id" [value]="subSection.id" disabled>
    </div>
    <div>
      <label for="name">Name:</label>
      <input id="name" [value]="subSection.name" disabled>
    </div>
    <div>
      <label for="section">Section:</label>
      <input id="section" [value]="section.name" disabled>
    </div>
    <div>
      <label for="department">Department:</label>
      <input id="department" [value]="department.name" disabled>
    </div>
  </form>
</div>
