<div class="register-container">
  <form>
    <h2>Employee Details</h2>
    <div>
      <label for="id">ID:</label>
      <input id="id" [value]="employee.id" disabled>
    </div>
    <div>
      <label for="role">Role:</label>
      <input id="role" [value]="employee.role" disabled>
    </div>
    <div>
      <label for="name">Name:</label>
      <input id="name" [value]="employee.name" disabled>
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" [value]="employee.email" disabled>
    </div>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input id="phoneNumber" [value]="employee.phoneNumber" disabled>
    </div>
    <div>
      <label for="address">Address:</label>
      <input id="address" [value]="employee.address" disabled>
    </div>
    <div>
      <label for="subSectionId">Sub-Section:</label>
      <input id="subSectionId" [value]="subSectionName" disabled>
    </div>
  </form>
</div>
