<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Employees</mat-card-title>
      <button mat-raised-button color="primary" class="add-button" (click)="navigateToRegister()">Add</button>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Section Name">
      </mat-form-field>
      <table mat-table [dataSource]="filteredSections" class="mat-elevation-z8">
        <!-- Columns definitions -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let section"> {{section.name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let section">
            <button class="button" (click)="aboutSection(section)">About</button>
            <button class="button" (click)="editSection(section)">Edit</button>
            <button class="button" (click)="deleteSection(section.id)">Delete</button>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>


