<form class="edit-form">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="client.firstName" class="k-textbox" />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="client.lastName" class="k-textbox" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="client.email" class="k-textbox" />
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="client.phoneNumber" class="k-textbox" />
  </div>
  <button class="k-button k-primary" (click)="save()">Save</button>
  <button class="k-button" (click)="cancel()">Cancel</button>
</form>
